* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(52, 52, 52);
}
h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgba(233, 233, 233, 0.609);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > .container {
  width: 140px;
  height: 50px;
  background-color: purple;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid black;
}
.main > .container > .button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(200, 192, 192);
  transition: all 0.2s ease-in-out;
}

.main > .container > .addclass {
  left: 100%;
  transform: translate(-100%, -50%);
}
